<h1>Add New Creature</h1>

<form action="/prehistoric_creatures" method="POST">
    <label for="CreatureType"></label>
    <input type="text" name="type" id="CreatureType">
    <input type="submit">
</form>