<h1>List Of Prehistoric Creatures:</h1>

<ul>
    <% prehistoric_creatures.forEach((creature)=>{%>
        <li> 
         <!-- <img src= <%= creature.img_url %> /> -->
            <%= creature.type %>
        </li>


    <% }) %> 
</ul>