<h1>Info about CREATURE w/ ID of: <%= creatureId %> </h1>

<form action="GET" method="/prehistoric_creatures">
    <label for="change">Change Characteristics:</label>
    <input type="text" name="change" id="change">
    <input type="submit">
</form>

